@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Manrope:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
button{
    background-color: #E527B2;
    color: white;
    border: 0;
}
header{
     background: #F9F6E2;
     padding: 40px;
}
.header_desc{
    text-align: center;
    font-weight: bolder;
}
.header_desc p{
    display: inline;
}
.header_desc button{
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #E527B2;
    color: white;
}
.header_image img{
    width: 100%
}

main{
    background: #F8F8F8;
    padding: 100px 0;
}

.card{
    text-align: center;
    padding: 20px 20px;
    height: 200px;
}
.card_image{
    background: #F8F8F8;
    padding: 15px 10px;
    margin-bottom: 10px;
}
.card img{
    width: 140px;
    height: 150px;
}
.icon .fa{
    color: #FFC107;
}
.card  .card_name{
    font-weight: bolder;
}
.card .card_price{
    color: rgba(17, 17, 17, 0.50);
}

.coupon{
    background-color: white;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.coupon button{
    padding: 5px 8px;
}
.coupon input{
    width: 70%;
    outline: none;
    border: 1px solid rgba(177, 177, 177, 0.5);
    padding: 4px 6px;
}
.product_calculation{
    background-color: white;
    padding: 12px 14px;
}
.product_para{
    font-weight: bold;
}
.product_para span{
    font-weight: lighter
}
.product_calculation button{
    padding: 10px 55px;
    border-radius: 8px;
}
.modal-content{
    text-align: center;
    padding: 20px;
}
.modal-image{
    margin: auto;
}
.modal-content p{
    color: rgba(17, 17, 17, 0.50);
    font-size: 0.8rem;
}
/* .modal-content button{
    width: 50px;
} */
.modal-content img{
    width: 80px;
}
